<section class="py-5 my-5">
    <div class="row align-items-center py-5">
        <div class="col-md-6">
            <h1 class="display-3 mt-3 pt-5">
                Traveyor App
            </h1>
            <p class="lead">
                Learn how to get the worlds cheapest flights!
            </p>
        </div>
        <div class="col md-6">
            <img src="/img/banner.jpg" class="img-fluid" alt="traveyor banner">
        </div>
    </div>
</section>